<div class="container">
  <% @songs.each do |song| %>
    <div class="song">
      <% if song.url %>
        <h3><a href=<%= song.url %>><%= song.title %></a></h3>
      <% else %>
        <h3><%= song.title %></h3>
      <% end %>
      <p>
        Author: <%= song.author %>
      </p>
      <button type="button" class="btn btn-lg btn-primary" onclick="location.href='/signup';" value="Upvote Music">Upvote</button>
    </div>
  <% end %>
</div>

