<% if  @song.errors.any? %>
  <div class="container">
    <strong>Some issues with your message, please fix them:</strong>
    <ul>
      <% @song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="container">
  <h1>Post a Song</h1>
  <hr/>
  <form method="post" action="/songs">
    <div class="form-group row">
      <label for="title" class="col-sm-2 form-control-label">Title</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="title" value="<%= @song.title %>" placeholder="Song Title">
      </div>
    </div>
    <div class="form-group row">
      <label for="author" class="col-sm-2 form-control-label">Author</label>
      <div class="col-sm-10">
        <input type="text" name="author" value="<%= @song.author %>" class="form-control" placeholder="Song Author">
      </div>
    </div>
    <div class="form-group row">
      <label for="URL" class="col-sm-2 form-control-label">URL<small>Optional</small></label>
      <div class="col-sm-10">
        <input type="text" name="url" class="form-control" value="<%= @song.url %>" placeholder="URL">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-secondary">Submit</button>
      </div>
    </div>
  </form>
</div>
