<header>
  <div class="container">
    <div class="jumbotron">
      <h1>Music Hall</h1>
      <p>Share and Discover Music</p>
      <p><a class="btn btn-primary btn-lg" href="/songs" role="button">Musify</a></p>
    </div>
  </div>
</header>
